.buttonNorth {
    position: absolute;
    left:80%;
    top: 30%;
    font-size: 1.3vw;
}

.buttonSouth {
    position: absolute;
    left: 80%;
    top: 70%;
    font-size: 1.3vw;
}

.buttonEast {
    position: absolute;
    left: 90%;
    top: 50%;
    font-size: 1.3vw;
}

.buttonWest {
    position: absolute;
    left: 70%;
    top:50%;
    font-size: 1.3vw;
}

.difficultyMain {
    position: relative;
}

.difficulty {
    font-size: 1.2vw;
    margin-top: 3px;
}

#easy.difficulty {
    background-color: #6bef98;
    position: absolute;
    top: 2%;
    left: 22%;
}

#medium.difficulty {
    background-color: #ff9607;
    position: absolute;
    top: 2%;
    left: 27%;
}

#hard.difficulty {
    background-color: #ff2400;
    position: absolute;
    top: 2%;
    left: 34%;
}

.difficultyTitle {
    font-size: 2vw;
    margin-top: 5px;
    max-width: 20%;
    position: relative;
    left: 2%;
}

.player {
    position: absolute;
    left: 1.5%;
    top: 6%;
    width: 15%;
    height: 40%;
}

.playerInfo {
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    font-size: 1.3vw;
    left: 18%;
    top: 13%;
}

.enemy {
    position: absolute;
    left: 1.5%;
    top: 55%;
    width: 15%;
    height: 40%;
    padding-left: 1%;
}

.enemyInfo {
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    font-size: 1.3vw;
    left: 18%;
    top: 65%;
}

.jumbotronMain {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
    height: 40vw;
    max-height: 400px;
    margin-top: 10px;
    position: relative;
}

.jumbotronPlayerInfo {
    /*margin-bottom: 2rem;*/
    background-color: #00cbef;
    border-radius: 0.3rem;
    position: absolute;
    width: 36%;
    height: 45%;
    top: 3%;
    left: 1%
}

.jumbotronEnemyInfo {
    /*margin-bottom: 2rem;*/
    background-color: #ef5948;
    border-radius: 0.3rem;
    position: absolute;
    width: 36%;
    height: 45%;
    top: 52%;
    left: 1%;

}

.versus {
    height: 16%;
    width: 6%;
    position: absolute;
    left:17%;
    top: 45%;
}

.storyText {
    position: absolute;
    width:50%;
    left: 45%;
}

